.View {
  padding: 20px;
  border: 1px solid #f0f0f0;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  gap: 18px;
  height: fit-content;
  width: 100%;
  max-width: 700px;

  &__Element {
    display: grid;
    align-items: center;
    // flex-direction: column;
    grid-template-columns: 1fr 1fr;
    gap: 15px;

    div {
      border: 1px solid var(--primary-color);
      border-radius: var(--border-radius);
      padding: 20px;
      width: 100%;
      word-break: break-all;
      font-weight: 700;

      &.hideBorder {
        border-color: transparent;
      }
    }
  }
}
