.MainCard {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border-radius: var(--border-radius);
  border: 1.5px solid #f0f0f0;
  transition: all 0.2s;

  img {
    margin: 20px;
  }

  p {
    margin: 10px 0;
    border-bottom: 1.5px solid #f0f0f0;
    padding: 0 10px;
    padding-bottom: 10px;
    font-weight: 700;
  }

  &:hover {
    border: 1.5px solid var(--primary-color);
    box-shadow: 0 0 11px var(--primary-color);
    transform: scale(1.03);

    p {
      border-bottom: 1.5px solid var(--primary-color);
    }
  }
}

.Main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.CharacterList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 24px;
  height: 100%;
}
